LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "switch4" SITE "P4";
IOBUF PORT "switch4" IO_TYPE=LVCMOS33;



LOCATE COMP "rst" SITE "G2";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;

LOCATE COMP "J39_b15" SITE "B15";
IOBUF PORT "J39_b15" IO_TYPE=LVCMOS33;
LOCATE COMP "J39_c15" SITE "C15";
IOBUF PORT "J39_c15" IO_TYPE=LVCMOS33;
LOCATE COMP "J39_b20" SITE "B20";
IOBUF PORT "J39_b20" IO_TYPE=LVCMOS33;
LOCATE COMP "J39_e11" SITE "E11";
IOBUF PORT "J39_e11" IO_TYPE=LVCMOS33;



LOCATE COMP "J39_b10" SITE "B10";
IOBUF PORT "J39_b10" IO_TYPE=LVCMOS33;
LOCATE COMP "J39_a14" SITE "A14";
IOBUF PORT "J39_a14" IO_TYPE=LVCMOS33;
LOCATE COMP "J39_d13" SITE "D13";
IOBUF PORT "J39_d13" IO_TYPE=LVCMOS33;
LOCATE COMP "J39_e12" SITE "E12";
IOBUF PORT "J39_e12" IO_TYPE=LVCMOS33;


LOCATE COMP "J40_a15" SITE "A15";
IOBUF PORT "J40_a15" IO_TYPE=LVCMOS33;
LOCATE COMP "J40_h2" SITE "H2";
IOBUF PORT "J40_h2" IO_TYPE=LVCMOS33;
LOCATE COMP "J40_j4" SITE "J4";
IOBUF PORT "J40_j4" IO_TYPE=LVCMOS33;
LOCATE COMP "J40_j3" SITE "J3";
IOBUF PORT "J40_j3" IO_TYPE=LVCMOS33;
LOCATE COMP "J40_l4" SITE "L4";
IOBUF PORT "J40_l4" IO_TYPE=LVCMOS33;
LOCATE COMP "J40_m4" SITE "M4";
IOBUF PORT "J40_m4" IO_TYPE=LVCMOS33;
LOCATE COMP "J40_n4" SITE "N4";
IOBUF PORT "J40_n4" IO_TYPE=LVCMOS33;

LOCATE COMP "J40_m3" SITE "M3";
IOBUF PORT "J40_m3" IO_TYPE=LVCMOS33;

LOCATE COMP "J40_p5" SITE "P5";
IOBUF PORT "J40_p5" IO_TYPE=LVCMOS33;

LOCATE COMP "J40_n5" SITE "N5";
IOBUF PORT "J40_n5" IO_TYPE=LVCMOS33;

LOCATE COMP "J40_l5" SITE "L5";
IOBUF PORT "J40_l5" IO_TYPE=LVCMOS33;

LOCATE COMP "J40_k3" SITE "K3";
IOBUF PORT "J40_k3" IO_TYPE=LVCMOS33;

LOCATE COMP "J40_j5" SITE "J5";
IOBUF PORT "J40_j5" IO_TYPE=LVCMOS33;

LOCATE COMP "tftstate[0]" SITE "F18";
LOCATE COMP "tftstate[1]" SITE "A12";
LOCATE COMP "tftstate[2]" SITE "B19";
LOCATE COMP "leds[0]" SITE "B18";
LOCATE COMP "leds[1]" SITE "C17";
LOCATE COMP "leds[2]" SITE "A17";
LOCATE COMP "test" SITE "D15";
IOBUF PORT "tftstate[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "tftstate[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "tftstate[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "test" IO_TYPE=LVCMOS33;